<div class="sh-dashboard">
    <Chart
        :chartConfiguration="verticalBarChart"
        :width="500"
        :height="400"
        :title="'Super Title'"
        :color="'red'"
    ></Chart>
    <Chart
            :chartConfiguration="pieChart"
            :width="500"
            :height="400"
            :title="'Super Title'"
            :color="'purple'"
    ></Chart>
    <Chart
            :chartConfiguration="verticalBarChart"
            :width="500"
            :height="400"
            :title="'Super Title'"
            :color="'green'"
    ></Chart>
    <Chart
            :chartConfiguration="verticalBarChart"
            :width="500"
            :height="400"
            :title="'Super Title'"
            :color="'orange'"
    ></Chart>
</div>